<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Contact Us</a></li>
        <li><a href="">Our Services</a></li>
      </ul>
    </nav>
    <main>
      <h1>Home Page</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, ex
        voluptates obcaecati reiciendis nulla in atque, quas praesentium autem
        laborum architecto repellat ipsam qui, maxime facilis itaque
        perspiciatis accusantium aspernatur! Omnis facere quaerat sapiente,
        impedit accusantium dolor deserunt perferendis delectus repellat non
        veniam recusandae alias animi iste quas dolores qui ipsa officiis beatae
        quia quo libero ex? Dolor, itaque exercitationem. Repellendus,
        laudantium tempora maxime, distinctio laborum similique animi eos
        reprehenderit consequatur totam quidem at quis earum unde natus eaque
        excepturi obcaecati quod, reiciendis nulla? Itaque temporibus beatae
        voluptatibus a placeat eius vero deserunt vitae, sint, adipisci, alias
        tenetur consequatur tempora.
      </p>
    </main>
  </body>
</html>
